<section class="home-section mt-5">
<main class="main-content">
    <div class="container-fluid coupon">
        <div class="row d-flex justify-content-end mt-5 mb-5">
            <a href="/admin/adminAddCoupon" class="btn btn-primary " style="width: auto;">Create Coupon</a>
        </div>
    </div>
</section>
            <section class="home-section">
            <div class="container mt-5">
                <table width="100%" id="couponTable" class="table p-4">
                    <thead>
                        <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Coupon Name</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for(var i=0; i<availableCoupons.length;i++) { %>
                            <tr>
                                <td scope="row">
                                    <%= i+1 %>
                                </td>
                                <td> 
                                    <%= availableCoupons[i].couponName %>
                                </td>
                                <td>
                                    <%= availableCoupons[i].couponCode %>
                                </td>
                                <td>
                                    <%= availableCoupons[i].discount %>
                                </td>
                                <td>
                                    <%= availableCoupons[i].startDate %>
                                </td>
                                <td>
                                    <%= availableCoupons[i].endDate %>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="#" onclick="deleteCoupon('<%= availableCoupons[i]._id %>')">Delete</a>
                                </td>
                            </tr>
                          <% } %>
                    </tbody>
                </table>
            </div>
</section>
    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Status Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="text" id="couponID" style="display: none;">
                <div class="modal-body">
                    <select name="status" id="statusUpdate" class="form-select">
                        <option value="">Select Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Active">Active</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Expired">Expired</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    <button type="button" class="btn btn-primary" onclick="statusUpdate()">SAVE</button>
                </div>
            </div>
        </div>
    </div>-->
</main>


<script>

    function deleteCoupon(couponId){
        swal({
      title: "DELETE",
      text: "DO YOU WANT TO DELETE THIS COUPON!",
      icon: "warning",
      buttons: ["CANCEL","OK"],
    }).then(val=>{
      if(val){
        fetch('/admin/deleteCoupon?id='+couponId,
        {
          method:'delete'
        }
        ).then(res=> res.json()).then(data=>{
        
            swal({
      title: "SUCCESS",
      text: "COUPON SUCCESSFULLY DELETED",
      icon: "success",
      button:"OK",
    })
      location.reload()
        })
      }
    })
    }




     $(document).ready(function () {
        $('#couponTable').DataTable();
    });
</script>















<script>
  let sidebar = document.querySelector(".sidebar");
 let sidebarBtn = document.querySelector(".sidebarBtn");
 sidebarBtn.onclick = function() {
 sidebar.classList.toggle("active");
 if(sidebar.classList.contains("active")){
 sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right"); 
 }else
 sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
 }
 </script>