<section class="home-section mt-5">
<div class="container"> 
    <table class="table table-bordered p-3" id="orderTable">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">OrderId</th>
            <th scope="col">Order Date</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order status</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<orderItems.length;i++) { %>
          <tr>
           
          <td> <a href="/admin/orderId?id=<%= orderItems[i]._id %>"> <%= orderItems[i]._id %></td></a>
            <td><%= orderItems[i].date.toLocaleDateString() %> <br>
                <%= orderItems[i].date.toLocaleTimeString() %></td>
            <td><%= orderItems[i].deliveryDetails.name %></td>
            <td><%= orderItems[i].status %></td>
            <td><%= orderItems[i].paymentMethod %></td>
            <td><%= orderItems[i].totalAmount %></td>
          </tr>
          
          <% } %>
        
        </tbody>
      </table>
</div>
</section>


<script>
  $(document).ready( function () {
    $('#orderTable').DataTable();
  } );
  </script>

















<script>
    let sidebar = document.querySelector(".sidebar");
   let sidebarBtn = document.querySelector(".sidebarBtn");
   sidebarBtn.onclick = function() {
   sidebar.classList.toggle("active");
   if(sidebar.classList.contains("active")){
   sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right"); 
   }else
   sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
   }
   </script>