<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../user/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="../user/css/animate.css">

<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="../user/css/owl.theme.default.min.css">
<link rel="stylesheet" href="../user/css/magnific-popup.css">

<link rel="stylesheet" href="../user/css/aos.css">

<link rel="stylesheet" href="../user/css/ionicons.min.css">

<link rel="stylesheet" href="../user/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="../user/css/jquery.timepicker.css">


<link rel="stylesheet" href="../user/css/flaticon.css">
<link rel="stylesheet" href="../user/css/icomoon.css">
<link rel="stylesheet" href="../user/css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">



<div class="hero-wrap hero-bread" style="background-image: url('../user/img/bg_1.jpg');">
  <div class="container">
	<div class="row no-gutters slider-text align-items-center justify-content-center">
	  <div class="col-md-9 ftco-animate text-center">
		  <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Cart</span></p>
		<h1 class="mb-0 bread">My Cart</h1>
	  </div>
	</div>
  </div>
</div>

<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
						  <tr class="text-center">
							<th>&nbsp;</th>
							<th>S.NO</th>
							<th>Product Image</th>
							<th>Product name</th>
							<th>Price</th>
							<th>Quantity</th>
							<!-- <th>Total</th> -->
						  </tr>
						</thead>
						<tbody>
							<% if(products.length>=0) { %>
							<% let i=1; for(values of products) { %> 
						  <tr class="text-center">
							<td class="product-remove"><a href="/deleteProduct?item=<%=values.item %>"><span class="ion-ios-close"></span></a></td>
							
							<td><%= i++ %></td>

							<td class="image-prod"><div class="img" style="background-image:url('/admin/images/<%= values.products.Picture %>');"></div></td>
							
							
							<td class="product-name">
								<h3><%= values.products.productName %></h3>
							</td>	
							
							<td class="price">Rs.<%= values.products.sellingPrice %></td>
							
							<td class="quantity">
								<div class="input-group mb-3">
								<button type="submit" class="quantity form-control input-number" onclick="changeQuantity('<%= values._id %>','<%= values.products._id %>',-1,'<%= userData._id %>')" >-</button>
								 <span class="quantity form-control input-number p-3" id="<%= values.products._id %>"><%= values.quantity %></span>
								 <button class="quantity form-control input-number" onclick="changeQuantity('<%= values._id %>','<%= values.products._id %>',1,'<%= userData._id %>')" >+</button>
							  </div>
							</td>
							<!-- <td > Rs.<span id="total" class="total"><%= TotalPrice %></span> </td> -->
						</tr><!-- END TR-->
						<% } %>
						<% } else { %>
							<tr>
							<td>
								<h1>Cart is Empty</h1>
							</td>
							</tr>
							<% } %>
						</tbody>
					  </table>
				  </div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Coupon Code</h3>	
					<p>Enter your coupon code if you have one</p>
			  <div class="form-group">
				  <label for="">Coupon code</label>
				<input type="text" class="form-control text-left px-3" name="couponCode" id="couponCode" placeholder="Coupon Code">
			  </div>
			  <span id="couponMessage"></span>
				</div>
				<p><a onclick="applyCoupon()" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
			</div>
			<!-- <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<p>Enter your destination to get a shipping estimate</p>
					  <form action="#" class="info">
			  <div class="form-group">
				  <label for="">Country</label>
				<input type="text" class="form-control text-left px-3" placeholder="">
			  </div>
			  <div class="form-group">
				  <label for="country">State/Province</label>
				<input type="text" class="form-control text-left px-3" placeholder="">
			  </div>
			  <div class="form-group">
				  <label for="country">Zip/Postal Code</label>
				<input type="text" class="form-control text-left px-3" placeholder="">
			  </div>
			</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div> -->
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					 <h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						Rs.<span id="totalPrice"><%= totalValue %></span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>5%</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span id="discountId">0</span>
					</p>
					<hr> 
					<p class="d-flex total-price">
						<span>Total</span>
						Rs.<span id="totalAmount">
							<% let finalTotal = totalValue+(5/100)*(totalValue) %>
							<%= finalTotal  %>
						</span>
					</p>
				</div>
				<!-- <p><a href="/placeOrder" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p> -->
				<button class="btn btn-success py-3 px-4" onclick="proceedToCheckout('<%= totalValue %>')" >Proceed to Checkout</button>
			</div>
		</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
	<div class="row d-flex justify-content-center py-5">
	  <div class="col-md-6">
		  <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
		  <span>Get e-mail updates about our latest shops and special offers</span>
	  </div>
	  <div class="col-md-6 d-flex align-items-center">
		<form action="#" class="subscribe-form">
		  <div class="form-group d-flex">
			<input type="text" class="form-control" placeholder="Enter email address">
			<input type="submit" value="Subscribe" class="submit px-3">
		  </div>
		</form>
	  </div>
	</div>
  </div>
</section>



<script src="../user/js/jquery.min.js"></script>
<script src="../user/js/jquery-migrate-3.0.1.min.js"></script>
<script src="../user/js/popper.min.js"></script>
<script src="../user/js/bootstrap.min.js"></script>
<script src="../user/js/jquery.easing.1.3.js"></script>
<script src="../user/js/jquery.waypoints.min.js"></script>
<script src="../user/js/jquery.stellar.min.js"></script>
<script src="../user/js/owl.carousel.min.js"></script>
<script src="../user/js/jquery.magnific-popup.min.js"></script>
<script src="../user/js/aos.js"></script>
<script src="../user/js/jquery.animateNumber.min.js"></script>
<script src="../user/js/bootstrap-datepicker.js"></script>
<script src="../user/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="../user/js/google-map.js"></script>
<script src="../user/js/main.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
	function changeQuantity(cartId,productId,count,userData){
		console.log(cartId,productId,count,userData	);
		let quantity = parseInt(document.getElementById(productId).innerHTML)
		count = parseInt(count)
		$.ajax({
			url:'/changeProductQuantity',
			data:{
				user:userData,
				cart:cartId,
				product:productId,
				count:count,
				quantity:quantity
			},
			method:'post',
			success:(response)=>{
				console.log(response);
				if(response.response.removeProduct){
				    window.location.reload()
					  
				}else{
					document.getElementById(productId).innerHTML=quantity+count
					document.getElementById('totalAmount').innerHTML= response.result
					document.getElementById('totalPrice').innerHTML = response.result
					document.getElementById('total').innerHTML = response.done
					console.log(response.done);
				}
			}    
		})
	}
	

	function applyCoupon(){
		let couponCode = document.getElementById('couponCode').value.toUpperCase()
		let message = document.getElementById('couponMessage')
		let discountlDisplay = document.getElementById("discountId")
		let finalTotal = document.getElementById('totalAmount')
		fetch('/cart/applyCoupon',{
			method:'post',
			headers:{'Content-Type':'application/json'},
			body:JSON.stringify({couponCode})
		}).then(res => res.json()).then(data=>{

			if(data.couponStatus == true){
				message.innerHTML == ''
				discountlDisplay.innerHTML = data.discount
				finalTotal.innerHTML = data.discountedTotal
			}
			else{
				message.innerHTML = 'COUPON NOT ACCEPTABLE'
				discountlDisplay.innerHTML = data.discount
				finalTotal.innerHTML = data.discountedTotal
			}
		})
	}

	function proceedToCheckout(totalValue){
		let couponCode = ''
		couponCode = document.getElementById('couponCode').value.toUpperCase()
		fetch('/cart/proceedToCheckout',{
			method:'post',
			headers:{'Content-Type':'application/json'},
			body:JSON.stringify({couponCode,totalValue})
		}).then(res => res.json()).then((data)=>{
			console.log(('final total',data));
			location.href='/cart/proceedToCheckout?finalTotal='+data
		})
	}


</script>













<script>
	  $(document).ready(function(){

	  var quantitiy=0;
		 $('.quantity-right-plus').click(function(e){
			  
			  // Stop acting like a button
			  e.preventDefault();
			  // Get the field name
			  var quantity = parseInt($('#quantity').val());
			  
			  // If is not undefined
				  
				  $('#quantity').val(quantity + 1);

				
				  // Increment
			  
		  });

		   $('.quantity-left-minus').click(function(e){
			  // Stop acting like a button
			  e.preventDefault();
			  // Get the field name
			  var quantity = parseInt($('#quantity').val());
			  
			  // If is not undefined
			
				  // Increment
				  if(quantity>0){
				  $('#quantity').val(quantity - 1);
				  }
		  });
		  
	  });
  </script>