<section>
    <div class="container">
        <table class="table table-striped-columns">
            <thead>
                <tr>
                  <th scope="col">S.NO</th>
                  <th>Date</th>
                  <th>Address</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>Pincode</th>
                  <th>Mobile</th>
                  <th>Total Amount</th>
                  <th>Payment Method</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% let i=1; for(values of orders) { %>
                <tr>
                  <td><%= i++ %></td>
                  <td><%= values.date %></td>
                  <td><%= values.deliveryDetails.address %></td>
                  <td><%= values.deliveryDetails.country %></td>
                  <td><%= values.deliveryDetails.state %></td>
                  <td><%= values.deliveryDetails.pincode %></td>
                  <td><%= values.deliveryDetails.mobile %></td>
                  <td><%= values.totalAmount %></td>
                  <td><%= values.paymentMethod %></td>
                  <td><%= values.status %></td>
                <td>
                    <a href="/viewOrderProducts?id=<%=values._id %>" class="btn btn-primary">View Products</a>
                </td>
            </tr>
            <% } %>
              </tbody>
          </table>
    </div>
</section>