<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">


<section>
    <div class="container">
        <table class="table table-striped-columns" id="orderTable">
            <thead>
                <tr>
                  <th scope="col">S.NO</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>Pincode</th>
                  <th>Mobile</th>
                  <th>Total Amount</th>
                  <th>Payment Method</th>
                  <th>Status</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <% let i=1; for(values of orders) { %>
                <tr>
                  <td><%= i++ %></td>
                  <td><%= values.date.toLocaleDateString() %><br>
                  <%= values.date.toLocaleTimeString() %></td>
                  <td><%= values.deliveryDetails.name %></td>
                  <td><%= values.deliveryDetails.address %></td>
                  <td><%= values.deliveryDetails.country %></td>
                  <td><%= values.deliveryDetails.state %></td>
                  <td><%= values.deliveryDetails.pincode %></td>
                  <td><%= values.deliveryDetails.mobile %></td>
                  <td><%= values.totalAmount %></td>
                  <td><%= values.paymentMethod %></td>
                  <td><%= values.status %></td>
                <td>
                  <button type="button" class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#addCategory"
                  onclick="View('<%=values._id%>')">View Products</button>
                </td>
            </tr>
            <% } %>
              </tbody>
          </table>
    </div>
</section>
             
          </div>
      </div>
  </div>
</div>

<script>
  function View(orderId){
    fetch('/viewOrderProducts',{
      method:'post',
      headers:{'Content-Type': 'application/json'},
      body:JSON.stringify({orderId})
    }).then(data=>{
        
    })
  }


</script>



<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    $('#orderTable').DataTable();
} );
</script>