
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../user/css/animate.css">
    
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../user/css/magnific-popup.css">

    <link rel="stylesheet" href="../user/css/aos.css">

    <link rel="stylesheet" href="../user/css/ionicons.min.css">

    <link rel="stylesheet" href="../user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../user/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="../user/css/flaticon.css">
    <link rel="stylesheet" href="../user/css/icomoon.css">
    <link rel="stylesheet" href="../user/css/style.css">


    <section id="home-section" class="hero"> 
		  <div class="home-slider owl-carousel">
			<% for(values of banner) {%>
	      <div class="slider-item" style="background-image: url('/admin/images/<%= values.productImage %>');">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
	              <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
	              <p><a href="#" class="btn btn-primary">View Details</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
		  <% } %>
		</div>
    </section>
	

    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over $100</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Always Fresh</h3>
                <span>Product well package</span>
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
         
		<!-- Category Start -->
		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<!-- <div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(../user/img/category.jpg);">
									<div class="text text-center">
										<h2>Vegetables</h2>
										<p>Protect the health of every home</p>
										<p><a href="#" class="btn btn-primary">Shop now</a></p>
									</div>
								</div>
							</div> -->
							<% for(var i=0;i<category.length;i++) { %>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('/admin/images/<%= category[i].categoryImage %>');">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="viewCategory?id=<%= category[i]._id %>"><%= category[i].newCategory %></a></h2>
									</div>
								</div>
								<!-- <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(../user/img/category-2.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="#">Vegetables</a></h2>
									</div>
								</div> -->
							<!-- </div> -->
						</div>
						<% } %>
					</div>

					<!-- <div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(../user/img/category-3.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Juices</a></h2>
							</div>		
						</div> -->
						<!-- <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(../user/img/category-4.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Dried</a></h2>
							</div>
						</div> -->
					<!-- </div> -->
				</div>
			</div>
		</section> 



		<!-- Featured Products -->
    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Featured Products</span>
            <h2 class="mb-4">Our Products</h2>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				<% for(var i=0;i<product.length;i++) { %>
					<% if(product[i].featuredProducts == 1) {%>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product p-3" style="width: 260px; height: 300px;">
    					<a href="viewSingleProduct?id=<%= product[i]._id %>" class="img-prod">
							<div style="background-image: url('/admin/images/<%= product[i].Picture %>'); width: 70rem; height: 10rem; background-size: contain; background-repeat: no-repeat;"></div>
							<!-- <img class="img-fluid" style="width: 100%; height: 100%;" src="/admin/images/<%= product[i].Picture %>" alt="img not found"> -->
    						<span class="status">30%</span>
						
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#"><%= product[i].productName %></a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">Rs.<%= product[i].actualPrice %></span><span class="price-sale">Rs.<%= product[i].sellingPrice %></span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="viewSingleProduct?id=<%= product[i]._id %>" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<!-- <a href="" class="buy-now d-flex justify-content-center align-items-center mx-1"> -->
										<button onclick="addToCart('<%= product[i]._id %>')" class="btn btn-success"><span><i class="ion-ios-cart"></i></span></button>
	    								<!-- <span></span>  -->
	    							<!-- </a> -->
	    							<a onclick="addToWishlist('<%= product[i]._id %>')" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				<% } %>
				<% } %>
    			


				<!-- Newsletter  -->
		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="../user/js/jquery.min.js"></script>
  <script src="../user/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../user/js/popper.min.js"></script>
  <script src="../user/js/bootstrap.min.js"></script>
  <script src="../user/js/jquery.easing.1.3.js"></script>
  <script src="../user/js/jquery.waypoints.min.js"></script>
  <script src="../user/js/jquery.stellar.min.js"></script>
  <script src="../user/js/owl.carousel.min.js"></script>
  <script src="../user/js/jquery.magnific-popup.min.js"></script>
  <script src="../user/js/aos.js"></script>
  <script src="../user/js/jquery.animateNumber.min.js"></script>
  <script src="../user/js/bootstrap-datepicker.js"></script>
  <script src="../user/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="../user/js/google-map.js"></script>
  <script src="../user/js/main.js"></script>
  <script src="../user/js/script.js"></script>

 