<div class="hero-wrap hero-bread" style="background-image: url('../user/img/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Wishlist</span></p>
          <h1 class="mb-0 bread">My Wishlist</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-cart">
          <div class="container">
              <div class="row">
              <div class="col-md-12 ftco-animate">
                  <div class="cart-list">
                      <table class="table">
                          <thead class="thead-primary">
                            <tr class="text-center">
                              <th>&nbsp;</th>
                              <th>S.NO</th>
                              <th>Product Image</th>
                              <th>Product Description</th>
                              <th>Price</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% let i=1; for(values of products) { %>
                            <tr class="text-center">
                              <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
                              
                              <td><%= i++ %></td>

                              <td class="image-prod"><div class="img" style="background-image:url('/admin/images/<%= values.products.Picture %>');"></div></td>
                              
                              <td class="product-name">
                                  <h3><%= values.products.productName %></h3>
                                  <p>Rs.<%= values.products.productDescription %></p>
                              </td>
                              <td class="price">Rs.<%= values.products.sellingPrice %></td>
                            </tr><!-- END TR-->
                            <% } %>
                          </tbody>
                        </table>
                    </div>
              </div>
          </div>
          </div>
      </section>

      <script>
        
      </script>